.authwrapper {
    background-color: #F4A261;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20%;
    height: 896px;
    width: 414px;
}
.headertext {
    font-weight: bolder;
    color: #264653;
    font-size: 60px;
    margin-bottom: 5%;
}

.inputFormWrapper {
    background-color: #E9C46A;
    margin: 0 10% 10% 10%;
    padding: 9%;
    padding-top: 5%;
    border-radius: 15px;
    box-shadow: 0 6px 4px 0 rgb(0 0 0 / 0.2);
}

.inputheader {
    margin-top: 25px;
    margin-bottom: 4px;
    color: #264653;
    font-size: 25px;
    font-weight: bold;
}

.inputbox {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    padding-left: 5%;
    font-size: 20px;
    margin-bottom: 10px;
    box-shadow: 0 6px 4px 0 rgb(0 0 0 / 0.2);
    border: none;
}

.submitButton {
    background-color: #E76F51;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 35px;
    box-shadow: 0 6px 4px 0 rgb(0 0 0 / 0.2);
}

.forgotpassword {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: #264653;
}

.randomtext {
    color: #264653;
    font-weight: bold;
}

.loginText {
    background-color: #2A9D8F;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    border-radius: 10px 10px 0 0;
}